[submodule "ah/qy/stj"]
	path = ah/qy/stj
	url = .
[submodule "mo/ei/xti"]
	path = mo/ei/xti
	url = .
[submodule "mr/og/htr"]
	path = mr/og/htr
	url = .
[submodule "ok/ce/akb"]
	path = ok/ce/akb
	url = .
[submodule "re/py/ktl"]
	path = re/py/ktl
	url = .
[submodule "zh/ww/rno"]
	path = zh/ww/rno
	url = .
