[submodule "ah/qy/stj"]
	path = ah/qy/stj
	url = .
[submodule "cl/vj/yrf"]
	path = cl/vj/yrf
	url = .
[submodule "cy/ev/krb"]
	path = cy/ev/krb
	url = .
[submodule "fi/my/npa"]
	path = fi/my/npa
	url = .
[submodule "hr/nx/kca"]
	path = hr/nx/kca
	url = .
[submodule "la/hm/zbs"]
	path = la/hm/zbs
	url = .
[submodule "mo/ei/xti"]
	path = mo/ei/xti
	url = .
[submodule "mr/og/htr"]
	path = mr/og/htr
	url = .
[submodule "oc/tm/nla"]
	path = oc/tm/nla
	url = .
[submodule "ok/ce/akb"]
	path = ok/ce/akb
	url = .
[submodule "qe/nj/vti"]
	path = qe/nj/vti
	url = .
[submodule "qt/fl/esd"]
	path = qt/fl/esd
	url = .
[submodule "re/py/ktl"]
	path = re/py/ktl
	url = .
[submodule "tf/dm/gyi"]
	path = tf/dm/gyi
	url = .
[submodule "zh/ww/rno"]
	path = zh/ww/rno
	url = .
